* {
    box-sizing: border-box;
  }
  
  body {
    font-family:'Arial Narrow', Arial, sans-serif;
    margin:0; padding:0;
  }
  
   .center {
    margin: auto; 
    width : 510px;
    padding-left: 75px;
   }

   .filed { 
    padding: 10px;
    position : relative; 
    top : 150px;
    font-size: 15px;
    color: rgb(13, 71, 54);
    
   }

  h1 { 
    text-align: center; 
    color: rgb(22, 160, 118);
    text-shadow: 20px;
  }
  
  #image img, img {
    width: 350px;
    height: 350px;
    
    border: 20px;
    border-radius: 10px;
  } 
